services:
  # The user-facing load balancer
  load-balancer:
    build:
      context: .
      dockerfile: Dockerfile.load-balancer
    ports:
      - "81:80"

  # Fake Profile API service
  skymail-fake-api:
    build:
      context: .
      dockerfile: Dockerfile.skymail-fake-api

  # Cluster with 2 z-push and one memcached ( where z-push keeps state ).
  memcached-a-1:
    image: memcached:1
  z-push-a-1:
    privileged: true
    build:
      context: .
      dockerfile: Dockerfile.z-push
    ports:
      - "8080:8080"
