services:
  load-balancer:
    build:
      context: .
      dockerfile: Dockerfile.load-balancer
    # ports:
    #   - "80:80"

  # NOTE(lxf): Cluster with 2 z-push and one memcached ( where z-push keeps state ).
  memcached-a-1:
    image: memcached:1
  z-push-a-1:
    env_file:
      - ./cluster-a.env
    build:
      context: .
      dockerfile: Dockerfile.z-push
    ports:
      - "80:8080"
  z-push-a-2:
    env_file:
      - ./cluster-a.env
    build:
      context: .
      dockerfile: Dockerfile.z-push

  # NOTE(lxf): Smaller Cluster with 1 z-push and one memcached.
  memcached-b-1:
    image: memcached:1
  z-push-b-1:
    env_file:
      - ./cluster-b.env
    build:
      context: .
      dockerfile: Dockerfile.z-push